# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/
testrunner

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app
.DS_Store

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

# Visual Studio mac
*.userprefs

# Project Rider
.idea/

# NuGet
*.nuget.props
*.nuget.targets


# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
